<p>
  There's a new wholesale candidate to review:
</p>
<p>
  Company:<br>
  <%= @user.company %>
</p>

<p>
  Name:<br>
  <%= @user.name %>
</p>

<p>
  Title:<br>
  <%= @user.title %>
</p>

<p>
  Phone:<br>
  <%= @user.phone %>
</p>

<p>
  Email:<br>
  <%= @user.email %>
</p>
