<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="text-center">Your Referrals</h4>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|
          next if user == spree_current_user
          next if user.sales_rep? or user.admin?
        %>
          <tr>
            <td><%= link_to 'Act As', new_masquerade_path( user_id: user.id ), class: 'btn btn-default' %></td>
            <td>
              <% if spree_current_user&.admin? && user.identification.exists? %>
                  <a rel="popover" class="popover-image btn btn-default"
                     href="<%= edit_admin_user_url(user) if spree_current_user.admin? %>"
                     data-img="<%= user.identification.url(:medium) %>"
                     data-content="" title="Photo ID" rel="popover">
                    <%= user.email %>
                  </a>
              <% elsif spree_current_user&.admin? || spree_current_user&.sales_rep? %>
                <a rel="popover" href="<%= edit_admin_user_url(user) if spree_current_user.admin? %>" class="btn btn-outline"
                   data-toggle="tooltip" title="No photo ID" data-content="No Photo ID">
                  <%= user.email %>
                </a>
              <% end %>
            </td>
            <td>
              <% if spree_current_user&.admin? && !user.approved? %>
                <%= link_to 'Approve', approve_masquerade_path( user.id ), class: 'btn btn-default btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
